<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eca565">  <td>20/11/26 23:20:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RentPageTest.loginPageTitleTest()[pri:1, instance:com.prop.rent.tc.RentPageTest@10e92f8f]">loginPageTitleTest</td> 
  <td>main@1577592551</td>   <td></td> </tr>
<tr bgcolor="eca565">  <td>20/11/26 23:20:10</td>   <td>-8422</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RentPageTest.setUp()[pri:0, instance:com.prop.rent.tc.RentPageTest@10e92f8f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1577592551</td>   <td></td> </tr>
</table>
