<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>PropertyGuru Application Test Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b48a68">  <td>20/11/26 10:32:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RentPageTest.loginPageTitleTest()[pri:1, instance:com.prop.rent.tc.RentPageTest@ef9296d]">loginPageTitleTest</td> 
  <td>main@1608297024</td>   <td></td> </tr>
<tr bgcolor="f978b0">  <td>20/11/26 10:32:33</td>   <td>-8507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FilterPageTest.searchPageTitleTest()[pri:1, instance:com.prop.rent.tc.FilterPageTest@6af93788]">searchPageTitleTest</td> 
  <td>main@1608297024</td>   <td></td> </tr>
<tr bgcolor="f978b0">  <td>20/11/26 10:32:33</td>   <td>-8482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FilterPageTest.searchRentPageFilterTest()[pri:1, instance:com.prop.rent.tc.FilterPageTest@6af93788]">searchRentPageFilterTest</td> 
  <td>main@1608297024</td>   <td></td> </tr>
<tr bgcolor="f978b0">  <td>20/11/26 10:32:18</td>   <td>-24153</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FilterPageTest.setUp()[pri:0, instance:com.prop.rent.tc.FilterPageTest@6af93788]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1608297024</td>   <td></td> </tr>
<tr bgcolor="b48a68">  <td>20/11/26 10:32:34</td>   <td>-7574</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RentPageTest.setUp()[pri:0, instance:com.prop.rent.tc.RentPageTest@ef9296d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1608297024</td>   <td></td> </tr>
</table>
